{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard",
    "standard-react"
  ],
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "globals" : {
    "expect" : false,
    "should" : false,
    "sinon"  : false
  },
  "rules": {
    "space-before-function-paren": [2, "always"],
    "semi": [2, "never"],
    "max-len": [2, 120, 2]
  },
  "plugins": [
    "import",
    "react"
  ],
  "settings": {
    "import/resolver": "webpack"
  }
}

